{% extends "./base.html" %}

{% block title %}MailBox{% endblock %}

{% block contents %}
<nav class="navbar navbar-light bg-light p-1">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-chevron-double-right"></i>
        </button>
    </div>
</nav>

<div>
    <!-- side bar -->
    <div class="contents h-100">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Collapsed content</h5>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
    </div>
    <!-- mail box -->
    

    <!-- add task tab -->
    <div class="taskbar h-100" style="background-color:blue;">

    </div>
</div>




{% endblock %}