{% extends "./base.html" %}

{% block title %}MailBox{% endblock %}

{% block contents %}
<nav class="navbar navbar-light bg-light p-1">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-chevron-double-right"></i>
        </button>
    </div>
</nav>

<!--後で消す-->
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>

<div>
    <!-- side bar -->
    <div>

    </div>

    <!-- mail box -->
    <div>

    </div>

    <!-- add task tab -->
    <div>

    </div>
</div>




{% endblock %}