asgiref
cachetools
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-mysql
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
oauthlib
packaging
pip
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser
PyJWT
PyMySQL
pyparsing
python-dateutil
python-social-auth
python3-openid 
pytz
requests
requests-oauthlib
rsa
setuptools
six
social-auth-core
sqlparse
typing-extensions
uritemplate
urllib3
wheel