body{
  background-color: #f8f9fc;
}

.o-bg-login{
  background-image: linear-gradient(180deg, #448AFF 10%, #3F51B5 100%);
}


.bg-main {
  background-color: #3F51B5;
}

.bg-gradient-main {
  background-image: linear-gradient(180deg, #448AFF 10%, #303F9F 100%);
}

.topbar {
  height: 70px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:active {
  outline: none;
}

.nav-link {
  color: inherit;
  font-weight: bold;
}

.nav-link:hover {
  color: #3F51B5!important;
  background-color: white;
}

.nav-link:visited,
.nav-link:active {
  color: inherit;
}

.o-nav-title{
  opacity: 0.5;
}

.o-page-title{
  opacity: 0.7;
}

.o-border-left-main{
  border-left: 0.25rem solid #3F51B5!important;
}

.o-border-left-red{
  border-left: 0.25rem solid #F44336!important;
}

.card-header h6{
  margin: 0;
  line-height: 30px;
  color: #3F51B5;
  font-weight: bold;
  background-color: #f8f9fc;
}

.inactive{
  display: none;
}


/* SIZE EXTENTION */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .w-xs-100 {
    width: 100% !important;
  }

  .w-xs-75 {
    width: 75% !important;
  }

  .w-xs-50 {
    width: 50% !important;
  }

  .w-xs-25 {
    width: 25% !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .w-md-100 {
    width: 100% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

}