{% extends "./base.html" %}

{% block title %}Company List{% endblock %}

{% block contents %}

<div class="col-md mb-3">
    <div class="card shadow rounded">
        <div class="card-header d-flex">
            <h6>Company List</h6>
        </div>
        <div class="card-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            [COMPANY NAME]
                        </button>
                    </h2>
                    <!-- id と aria-labeledbyは同要素同名にするが、異なる要素には異なる名前にする必要がある -->
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-2">

                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-detail"
                                        role="tab" aria-controls="nav-home" aria-selected="true">Detail</a>
                                    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-tasks"
                                        role="tab" aria-controls="nav-profile" aria-selected="false">My Tasks</a>
                                    <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-event"
                                        role="tab" aria-controls="nav-contact" aria-selected="false">Event</a>
                                </div>
                            </nav>
                            <div class="tab-content px-3 py-2" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-detail" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL
                                    企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL
                                    企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL
                                    企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL企業詳細DETAIL
                                </div>
                                <div class="tab-pane fade" id="nav-tasks" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    タスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASK
                                    タスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASK
                                    タスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASK
                                    タスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASKタスクTASK
                                </div>
                                <div class="tab-pane fade" id="nav-event" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    イベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENT
                                    イベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENT
                                    イベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENT
                                    イベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENTイベントEVENT
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for company in companies %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading-{{company.id}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{company.id}}" aria-expanded="false" aria-controls="flush-collapse-{{company.id}}">
                            {{company.name}}
                        </button>
                    </h2>
                    <!-- id と aria-labeledbyは同要素同名にするが、異なる要素には異なる名前にする必要がある -->
                    <div id="flush-collapse-{{company.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{company.id}}"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-2">

                            <nav>
                                <div class="nav nav-tabs" id="nav-tab-{{company.id}}" role="tablist">
                                    <a class="nav-link active" id="nav-home-tab-{{company.id}}" data-bs-toggle="tab" href="#nav-detail-{{company.id}}"
                                        role="tab" aria-controls="nav-home-{{company.id}}" aria-selected="true">Detail</a>
                                    <a class="nav-link" id="nav-profile-tab-{{company.id}}" data-bs-toggle="tab" href="#nav-tasks-{{company.id}}"
                                        role="tab" aria-controls="nav-profile-{{company.id}}" aria-selected="false">My Task</a>
                                    <a class="nav-link" id="nav-contact-tab-{{company.id}}" data-bs-toggle="tab" href="#nav-event-{{company.id}}"
                                        role="tab" aria-controls="nav-contact-{{company.id}}" aria-selected="false">Event</a>
                                </div>
                            </nav>
                            <div class="tab-content px-3 py-2" id="nav-tabContent-{{company.id}}">
                                <div class="tab-pane fade show active" id="nav-detail-{{company.id}}" role="tabpanel"
                                    aria-labelledby="nav-home-tab-{{company.id}}">
                                    {{company.memo}}
                                </div>
                                <div class="tab-pane fade" id="nav-event-{{company.id}}" role="tabpanel"
                                    aria-labelledby="nav-contact-tab-{{company.id}}">
                                    {{company.event.title}} {{company.event.start_date}} {{company.event.end_date}} {{nompany.event.detail}}
                                </div>
                                <div class="tab-pane fade" id="nav-tasks-{{company.id}}" role="tabpanel"
                                    aria-labelledby="nav-profile-tab-{{company.id}}">
                                    {{company.task.title}} {{company.task.deadline}} {{company.task.detail}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}