{% extends "./base.html" %}

{% block title %}MailBox{% endblock %}
{% block card-header %}MailBox{% endblock %}

{% block contents %}


    <table class="table table-hover">
        <tbody>
            {% for message in messages %}
            {% if message.Unread == True %}
            <tr class="o-border-left-red">
            {% else %}
            <tr>
            {% endif %}
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </th>
                <td class="w-25">{{message.From}}</td>
                <td class="w-75">
                    {{message.Subject}}
                </td>
                <td>
                    <a href="#" class="text-dark"><i class="bi bi-trash"></i></button></a>
                <td>
                <td class="fw-light small">{{message.Date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}