{% extends "./base.html" %}

{% block title %}Inbox{% endblock %}

{% block contents %}

<div class="px-2 col-md mb-3">
    <div class="card shadow rounded">
        {% if not alias %}
        <form class="" action="{% url 'recpos:mailbox' %}" method="post" enctype="multipart/form-data">
            {% else %}
            <form class="" action="{% url 'recpos:alias' %}" method="post" enctype="multipart/form-data">
                {% endif %}
                {% csrf_token %}
                <div class="card-header d-flex">
                    <h6>{{ label.name }}</h6>
                    <div class="ms-auto">
                        <a class="btn btn-sm btn-secondary" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu px-2">
                            <button class="dropdown-item" name="type" value="star" type="submit"><i
                                    class="bi bi-star"></i>&ensp;スターをつける</button>
                            <button class="dropdown-item" name="type" value="trash" type="submit"><i
                                    class="bi bi-trash"></i>&ensp;削除</button>
                        </ul>
                        {% if not alias %}
                        <a href="{% url 'recpos:mailbox' %}{{label.id}}\{{page.now}}"
                            class="btn btn-sm btn-secondary"><i class="bi bi-arrow-clockwise"></i></a>
                        {% if page.prev %}
                        <a href="{% url 'recpos:mailbox' %}{{label.id}}\{{page.prev}}"
                            class="btn btn-sm btn-secondary"><i class="bi bi-chevron-left"></i></a>
                        {% endif %}
                        {% if page.next %}
                        <a href="{% url 'recpos:mailbox' %}{{label.id}}\{{page.next}}"
                            class="btn btn-sm btn-secondary"><i class="bi bi-chevron-right"></i></a>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'recpos:alias' %}{{label.id}}\{{page.now}}" class="btn btn-sm btn-secondary"><i
                                class="bi bi-arrow-clockwise"></i></a>
                        {% if page.prev %}
                        <a href="{% url 'recpos:alias' %}{{label.id}}\{{page.prev}}" class="btn btn-sm btn-secondary"><i
                                class="bi bi-chevron-left"></i></a>
                        {% endif %}
                        {% if page.next %}
                        <a href="{% url 'recpos:alias' %}{{label.id}}\{{page.next}}" class="btn btn-sm btn-secondary"><i
                                class="bi bi-chevron-right"></i></a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table o-mailbox">
                        <tbody>
                        {% for message in messages %}
                            <!-- 未読の場合 -->
                            {% if 'UNREAD' in message.labels %}
                            <tr class="o-border-left-primary mail-table">
                                <td style="width:30px;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="index"
                                            value="{{message.index}}" id="flexCheckDefault">
                                    </div>
                                </td>
                                <td class="fw-bold" style="width:300px;">
                                    {{message.from_address.name}}
                                    
                                    <a class="mail-link"
                                        href="{% url 'recpos:mail-detail' %}{{message.index}}/{{message.url}}"></a>

                                </td>
                                <td class="fw-bold" style="width: 100%;">
                                    {{message.subject}}
                                </td>
                            {% else %}
                            <tr class="o-mailbox-read mail-table">
                                <td style="width:30px;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="index"
                                            value="{{message.index}}" id="flexCheckDefault">
                                    </div>
                                </td>
                                <td style="width:300px;">
                                    {{message.from_address.name}}
                                    <a class="mail-link"
                                        href="{% url 'recpos:mail-detail' %}{{message.index}}/{{message.url}}"></a>
                                </td>
                                <td style="width: 100%;">
                                    {{message.subject}}
                                </td>
                            {% endif %}
                                <td class="small" style="width:90px;">
                                    {% if message.date.year != 2021 %}{{message.date.year}}/{% endif %}{{message.date.month}}/{{message.date.date}}
                                    {{message.date.hour}}:{{message.date.minute}}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex">
                    <div class="ms-auto">
                        {% if not alias %}
                        <a href="{% url 'recpos:mailbox' %}{{label.id}}\{{page.now}}"
                            class="btn btn-sm btn-secondary"><i class="bi bi-arrow-clockwise"></i></a>
                        {% if page.prev %}
                        <a href="{% url 'recpos:mailbox' %}{{label.id}}\{{page.prev}}"
                            class="btn btn-sm btn-secondary"><i class="bi bi-chevron-left"></i></a>
                        {% endif %}
                        {% if page.next %}
                        <a href="{% url 'recpos:mailbox' %}{{label.id}}\{{page.next}}"
                            class="btn btn-sm btn-secondary"><i class="bi bi-chevron-right"></i></a>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'recpos:alias' %}{{label.id}}\{{page.now}}" class="btn btn-sm btn-secondary"><i
                                class="bi bi-arrow-clockwise"></i></a>
                        {% if page.prev %}
                        <a href="{% url 'recpos:alias' %}{{label.id}}\{{page.prev}}" class="btn btn-sm btn-secondary"><i
                                class="bi bi-chevron-left"></i></a>
                        {% endif %}
                        {% if page.next %}
                        <a href="{% url 'recpos:alias' %}{{label.id}}\{{page.next}}" class="btn btn-sm btn-secondary"><i
                                class="bi bi-chevron-right"></i></a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </form>
    </div>
</div>



{% endblock %}