{% extends "./base.html" %}
{% load static %}

{% block title %}My Tasks{% endblock %}

{% block contents %}

<head>
    <link href="{% static 'css/fullcalendar/packages/core/main.css' %}" rel='stylesheet'>
    <link href="{% static 'css/fullcalendar/packages/daygrid/main.css' %}" rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
</head>

<div class="px-2 col-md mb-3">
    <div class="card shadow rounded">
        <div class="card-header d-flex">
            <h6>My Tasks</h6>
        </div>
        <div class="card-body">
            <div id='calendar-container'>
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'css/fullcalendar/packages/core/main.js' %}"></script>
<script src="{% static 'css/fullcalendar/packages/interaction/main.js' %}"></script>
<script src="{% static 'css/fullcalendar/packages/daygrid/main.js' %}"></script>
<script src="{% static 'css/fullcalendar/packages/timegrid/main.js' %}"></script>
<script src="{% static 'css/fullcalendar/packages/list/main.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var events = JSON.parse('{{ event_data|safe }}');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'JP',
            themeSystem: 'bootstrap',
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
            height: 'parent',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            defaultView: 'dayGridMonth',
            defaultDate: '2021-11-16',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: JSON.parse('{{ event_data|safe }}'),
        });

        calendar.render();
    });
</script>
{% endblock %}