{% extends "./base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block contents %}

<div class="px-2 col-md mb-3">
    <div class="card shadow rounded">
        <div class="card-header">
            <h6>RECPOS Privacy Policy (個人情報保護方針)</h6>
        </div>
        <div class="card-body">
            <p>当サービスの管理者（以下「管理者」といいます）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、個人情報保護の重要性の認識と取組みを徹底することにより、個人情報の保護を推進致します。
            </p>
            <p><strong>個人情報の管理</strong><br>
                管理者は、当サービスのご利用者様（以下「ご利用者様」といいます）の個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
            </p>
            <p><strong>個人情報の利用目的</strong><br>
                ご利用者様からお預かりした個人情報は、管理者からのご連絡やご案内、ご質問に対する回答として、電子メールや資料のご送付に利用いたします。</p>
            <p><strong>個人情報の第三者への開示・提供の禁止</strong><br>
                管理者は、ご利用者様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
            <ul>
                <li>ご利用者様の同意がある場合</li>
                <li>ご利用者様が希望されるサービスを行なうために管理者が業務を委託する業者に対して開示する場合</li>
                <li>法令に基づき開示することが必要である場合</li>
            </ul>
            <p><strong>ご本人の照会</strong><br>
                ご利用者様がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>
            <p><strong>法令、規範の遵守と見直し</strong><br>
                管理者は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
            <p><strong>お問い合せ</strong><br>
                管理者の個人情報の取扱に関するお問い合せは下記までご連絡ください。<br>
                <a href="mailto:s1f101901106@iniad.org">s1f101901106@iniad.org</a></p>
        </div>
    </div>
</div>
{% endblock %}